<html>
  <!-- <app-search></app-search> -->
  <app-header></app-header>
  <form #Form="ngForm" (ngSubmit)="searchDate(Form)">
    <label for="city">City</label>
    <input
      type="text"
      id="city/zipcode"
      name="city"
      placeholder="Enter your city"
      required
      ngModel
    />
    <button>SearchWeather</button>
  </form>
  <div class="banner">
    <div class="moon"></div>
    <div class="clouds">
      <img
        src="https://www.transparentpng.com/thumb/clouds/AjeEHR-clouds-best-png.png"
      />
      <div class="bannerContent">
        <h1>Weather Forecast</h1>
      </div>
    </div>
  </div>
  <div class="displayMoonWeather">
    <div class="day1">
      <div class="weatherImage1"></div>
      <div class = "cellWeatherMoon">
      <div class="text1">
        <p class = "text">City :  {{weather.name}}</p>
        <p class = "text">Date :  {{weather.date1}}</p>
        <p class = "text">Current Conditions :  {{weather.text1}}</p>
        <p class = "text">Current Temperature :  {{weather.temp_f}}</p>
        <p class = "text">Chance of Rain :  {{weather.dailyChanceOfRain1}}</p>
        <p class = "text">Chance of Snow :  {{weather.dailyChanceOfSnow1}}</p>
        <p>Click to see Moon Image</p>
      </div>
      <div class="moonImage1"><img [src]="image1"></div>
    </div>
    </div>
    <div class="day2">
      <div class="weatherImage2"></div>
      <div class = "cellWeatherMoon">
      <div class="text2">
        <p class = "text">City :  {{weather.name}}</p>
        <p class = "text">Date :  {{weather.date2}}</p>
        <p class = "text">Current Conditions :  {{weather.text2}}</p>
        <p class = "text">Current Temperature :  {{weather.temp_f}}</p>
        <p class = "text">Chance of Rain :  {{weather.dailyChanceOfRain2}}</p>
        <p class = "text">Chance of Snow :  {{weather.dailyChanceOfSnow2}}</p>
        <p>Link to Click to see Moon Image</p>
      </div>
      <div class="moonImage2"><img [src]="image2"></div>
    </div>
    </div>
    <div class="day3">
      <div class="weatherImage3"></div>
      <div class = "cellWeatherMoon">
      <div class="text3">
        <p class = "text">City :  {{weather.name}}</p>
        <p class = "text">Date :  {{weather.date3}}</p>
        <p class = "text">Current Conditions :  {{weather.text3}}</p>
        <p class = "text">Current Temperature :  {{weather.temp_f}}</p>
        <p class = "text">Chance of Rain :  {{weather.dailyChanceOfRain3}}</p>
        <p class = "text">Chance of Snow :  {{weather.dailyChanceOfSnow3}}</p>
        <p>Link to Click to see Moon Image</p>
      </div>
      <div class="moonImage3"><img [src]="image3"></div>
    </div>
    </div>
    <div class="day4">
      <div class="weatherImage4"></div>
    </div>
  </div>
</html>
