/* Desktop view */
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
html {
  height: auto;
  width: 100%;
  background: rgb(22, 20, 46);
  background: linear-gradient(
    rgba(22, 20, 46, 1),
    rgba(12, 67, 96, 1) 39%,
    rgba(33, 96, 104, 1),
    rgba(61, 109, 64, 1),
    rgba(110, 104, 8, 1),
    rgba(131, 106, 29, 1),
    rgba(192, 110, 13, 1)
  );
}
.search {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 15px;
}
header {
  display: flex;
  justify-content: center;
}
.moon {
  display: flex;
  align-items: flex-end;
  width: 200px;
  height: 200px;
  margin: 40px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(241, 231, 124, 1) 0%,
    rgba(237, 231, 180, 1) 35%,
    rgba(255, 251, 251, 1) 110%
  );
}
.banner {
  position: relative;
  display: flex;
  width: 100%;
}
.banner .clouds {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
}
.banner .clouds img {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  animation: animate 45s linear infinite;
  display: flex;
}
@keyframes animate {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(100%);
  }
}
.bannerContent {
  display: flex;
  color: orange;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Orbitron", sans-serif;
  background: -webkit-linear-gradient(right, orange, white, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}
.cellWeatherMoon {
  display: flex;
  flex-direction: row;
  align-items: right;
  width: 65%;
  justify-content: space-between;
  padding: 0;
}
.weatherImage1,
.weatherImage2,
.weatherImage3,
.weatherImage4 {
  display: flex;
  height: 300px;
  width: 350px;
  margin: 20px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.weatherImage1,
.weatherImage2,
.weatherImage3 {
  border: 5px solid #bb864c;
}

.day1,
.day2,
.day3,
.day4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.text1,
.text2,
.text3 {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  height: 300px;
  justify-content: center;
  font-size: 20px;
  line-height: 45px;
  color: orange;
}
.moonImage1,
.moonImage2,
.moonImage3 {
  display: flex;
  height: 280px;
  width: 220px;
  background-color: #bb864c;
  margin: 20px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
/* tablet view */

@media only screen and (max-width: 768px) {
  .weatherImage1,
  .weatherImage2,
  .weatherImage3 {
    width: 370px;
  }
  .search {
    margin-top: 250px;
    display: flex;
    justify-content: center;
  }
  .moon {
    display: none;
  }
  h1 {
    font-size: 50px;
  }
  .day1,
  .day2,
  .day3,
  .day4 {
    display: flex;
    flex-direction: column;
  }
  .cellWeatherMoon {
    width: 370px;
    height: 310px;
  }
  .moonImage1,
  .moonImage2,
  .moonImage3 {
    height: 270px;
    width: 280px;
    padding: 2px;
    margin: 10px;
  }
  .text1,
  .text2,
  .text3 {
    margin-top: 20px;
    width: 250px;
    height: 260px;
    line-height: 30px;
    font-size: 15px;
  }
}
/* mobile view */

@media only screen and (max-width: 600px) {
  .text1,
  .text2,
  .text3 {
    margin-top: 20px;
    width: 250px;
    height: 260px;
    line-height: 25px;
    font-size: 15px;
    padding-left: 3px;
  }

  .banner.clouds {
    top: 100px;
    height: 200px;
  }
  .banner .clouds img {
    bottom: 0px;
    top: 50px;
  }
  h1 {
    font-size: 30px;
    margin-top: 120px;
  }
}

/* @media only screen and (max-width: 1010px) {
  .text1,
  .text2,
  .text3 {
    font-size: 16px;
    line-height: 45px;
    width: 250px;
  }
  .moonImage1,
  .moonImage2,
  .moonImage3 {
    margin: 20px;
  }
} */
/* @media only screen and (max-width: 375px) {
  .nav-container {
    width: 100%;
  }
  .weatherImage1,
  .weatherImage2,
  .weatherImage3 {
    height: 275px;
    width: 275px;
    padding: 0;
    margin: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cellWeatherMoon {
    width: 360px;
    height: 590px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .moonImage1,
  .moonImage2,
  .moonImage3 {
    height: 270px;
    width: 210px;
    margin-top: 10px;
  }
  p.text {
    width: 275px;
  } */
/* } */
