<html>
  <app-search></app-search>
  <div class="banner">
    <div class="moon"></div>
    <div class="clouds">
      <img
        src="https://www.transparentpng.com/thumb/clouds/AjeEHR-clouds-best-png.png"
      />
      <div class="bannerContent">
        <h1>Weather Forecast</h1>
      </div>
    </div>
  </div>
  <div class="displayMoonWeather">
    <div class="day1">
      <div class="weatherImage1"></div>
      <div class="text1">
        <p class = "text">City :  {{weather.name}}</p>
        <p class = "text">Date :  {{weather.date}}</p>
        <p class = "text">Current Conditions :  {{weather.text}}</p>
        <p class = "text">Current Temperature :  {{weather.temp_f}}</p>
        <p class = "text">Chance of Rain :  {{weather.dailyChanceOfRain}}</p>
        <p class = "text">Chance of Snow :  {{weather.dailyChanceOfRain}}</p>
        <p>Click to see Moon Image</p>
      </div>
      <div class="moonImage1">MoonImage1</div>
    </div>
    <div class="day2">
      <div class="weatherImage2"></div>
      <div class="text2">
        information pulled from API server
        <p>Link to Click to see Moon Image</p>
      </div>
      <div class="moonImage2">MoonImage1</div>
    </div>
    <div class="day3">
      <div class="weatherImage3"></div>
      <div class="text3">
        information pulled from API server
        <p>Link to Click to see Moon Image</p>
      </div>
      <div class="moonImage3">MoonImage1</div>
    </div>
    <div class="day4">
      <div class="weatherImage4"></div>
    </div>
  </div>
</html>
