<html>

  <header>
  <app-header></app-header>
  </header>


  <div class="banner">
    <div class="moon"></div>
    <div class="clouds">
      <img
        src="https://www.transparentpng.com/thumb/clouds/AjeEHR-clouds-best-png.png"
      />
      <div class="bannerContent">
        <h1>Weather Forecast</h1>
      </div>
    </div>
  </div>
  <div class = "search">
    <app-search></app-search>
  
</div>
  <div class="displayMoonWeather">
    <div class="day1">
      <img class="weatherImage1" *ngIf ="condition1" [src] = "condition1"/>
      <div class = "cellWeatherMoon">
      <div class="text1">
        <p class = "text">City :  {{weather.name}}</p>
        <p class = "text">Date :  {{weather.date1}}</p>
        <p class = "text">Condition :  {{weather.text1}}</p>
        <p class = "text">Temperature :  {{weather.temp_f1}}<span>°F</span></p>
        <p class = "text">Chance of Rain :  {{weather.dailyChanceOfRain1}}<span>%</span></p>
        <p class = "text">Chance of Snow :  {{weather.dailyChanceOfSnow1}}<span>%</span></p>
      </div>
      <div class="moonImage1"><img [src]="image1"></div>
    </div>
    </div>
    <div class="day2">
      <img class="weatherImage2"  *ngIf ="condition2" [src] = "condition2"/>
      <div class = "cellWeatherMoon">
      <div class="text2">
        <p class = "text">City :  {{weather.name}}</p>
        <p class = "text">Date :  {{weather.date2}}</p>
        <p class = "text">Condition :  {{weather.text2}}</p>
        <p class = "text">Temperature :  {{weather.temp_f2}}<span>°F</span></p>
        <p class = "text">Chance of Rain :  {{weather.dailyChanceOfRain2}}<span>%</span></p>
        <p class = "text">Chance of Snow :  {{weather.dailyChanceOfSnow2}}<span>%</span></p>
      </div>
      <div class="moonImage2"><img [src]="image2"></div>
    </div>
    </div>
    <div class="day3">
      <img class="weatherImage3" *ngIf ="condition3" [src] ="condition3"/>
      <div class = "cellWeatherMoon">
      <div class="text3">
        <p class = "text">City :  {{weather.name}}</p>
        <p class = "text">Date :  {{weather.date3}}</p>
        <p class = "text">Condition :  {{weather.text3}}</p>
        <p class = "text">Temperature :  {{weather.temp_f3}}<span>°F</span></p>
        <p class = "text">Chance of Rain :  {{weather.dailyChanceOfRain3}}<span>%</span></p>
        <p class = "text">Chance of Snow :  {{weather.dailyChanceOfSnow3}}<span>%</span></p>
      </div>
      <div class="moonImage3"><img [src]="image3"></div>
    </div>
    </div>
    <!-- <div class="day4">
      <div class="weatherImage4"></div>
    </div> -->
  </div>
</html>
