.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:rgb(22, 20, 46);
    font-family: "Raleway", sans-serif;
    height: 50px;
    color: white;

}
 p, a, div {
    padding-left:5px;
    color: white;
    font-size:10px;
 }

a {
    text-decoration: none;
    color: white;
    
}


@media only screen and (min-width: 600px) {
    .container {
        flex-wrap: wrap;
        
    }
    p, a, div {
       
        font-size:15px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        flex-wrap: wrap;
        
    }
    p, a, div {
       
        font-size:20px;
    }

}
