
<body>
<div class="header">
    <app-header></app-header>
    <h1>About Us</h1>
</div>
<div class="flex-container">
    <div class="profile-container">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHZOOLrudCJLg/profile-displayphoto-shrink_100_100/0/1576289865033?e=1620864000&v=beta&t=CEr-7wyjUctWwSSE3j5eooZyUd2wXXaEJJChXMnvKEc" alt="Jayme" width="300" height="300">
        <h2>Jayme Fullone</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veniam officiis rerum fugit accusantium, expedita quod, praesentium atque impedit nesciunt vel earum quo? Voluptates quae nostrum aspernatur, quasi hic tenetur!</p>
    </div>
    <div class="profile-container">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGBJ6etIpYMEw/profile-displayphoto-shrink_200_200/0/1611026529753?e=1620864000&v=beta&t=WPZ2J0QZ09Tuk4Xoerm2avMfEBGhzeWKUrSl1iJia1A" alt="Savitha" width="300" height="300">
        <h2>Savitha Kulaolinathan</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veniam officiis rerum fugit accusantium, expedita quod, praesentium atque impedit nesciunt vel earum quo? Voluptates quae nostrum aspernatur, quasi hic tenetur!</p>
    </div>
    <div class="profile-container">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQG0CCBWXUZvhg/profile-displayphoto-shrink_100_100/0/1612843607792?e=1620864000&v=beta&t=VUSU5NjWLs5yBZM6NbL75QyHTQtF4v2LOlyAvrhSTbk" alt="Shannon" width="300" height="300">
        <h2>Shannon Martin</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veniam officiis rerum fugit accusantium, expedita quod, praesentium atque impedit nesciunt vel earum quo? Voluptates quae nostrum aspernatur, quasi hic tenetur!</p>
    </div>
    <div class="profile-container">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFJMJLSorwlaw/profile-displayphoto-shrink_200_200/0/1615139039134?e=1620864000&v=beta&t=6im57LVdH9BPDUDI8i0MAUeNbiDaCmqdL9zxwFbrzhk" alt="Chris" width="300" height="300">
        <h2>Chris Morton</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veniam officiis rerum fugit accusantium, expedita quod, praesentium atque impedit nesciunt vel earum quo? Voluptates quae nostrum aspernatur, quasi hic tenetur!</p>
    </div>
    
    
    
    <!-- <p><img src="https://media-exp1.licdn.com/dms/image/C4E03AQHZOOLrudCJLg/profile-displayphoto-shrink_100_100/0/1576289865033?e=1620864000&v=beta&t=CEr-7wyjUctWwSSE3j5eooZyUd2wXXaEJJChXMnvKEc" alt="Jayme" width="300" height="300"><h2>Jayme Fullone</h2>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p><img src="https://media-exp1.licdn.com/dms/image/C4E03AQGBJ6etIpYMEw/profile-displayphoto-shrink_200_200/0/1611026529753?e=1620864000&v=beta&t=WPZ2J0QZ09Tuk4Xoerm2avMfEBGhzeWKUrSl1iJia1A" alt="Savitha" width="300" height="300"><h2>Savitha Kulaolinathan</h2>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p><img src="https://media-exp1.licdn.com/dms/image/C4D03AQG0CCBWXUZvhg/profile-displayphoto-shrink_100_100/0/1612843607792?e=1620864000&v=beta&t=VUSU5NjWLs5yBZM6NbL75QyHTQtF4v2LOlyAvrhSTbk" alt="Shannon" width="300" height="300"><h2>Shannon Martin</h2>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p><img src="https://media-exp1.licdn.com/dms/image/C4E03AQFJMJLSorwlaw/profile-displayphoto-shrink_200_200/0/1615139039134?e=1620864000&v=beta&t=6im57LVdH9BPDUDI8i0MAUeNbiDaCmqdL9zxwFbrzhk" alt="Chris" width="300" height="300"><h2>Chris Morton</h2>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
</div>
</body>

