
<body>
<div class="header">
    <app-header></app-header>
    <h1>About Us</h1>
</div>
<div class="flex-container">
    <div class="profile-container">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHZOOLrudCJLg/profile-displayphoto-shrink_100_100/0/1576289865033?e=1620864000&v=beta&t=CEr-7wyjUctWwSSE3j5eooZyUd2wXXaEJJChXMnvKEc" alt="Jayme" width="300" height="300">
        <h2>Jayme Fullone</h2>
        <div class= "info">
            <a href="https://github.com/jfullone"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/jaymefullone/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>    
    <div class="profile-container">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEKANZuNjryWA/profile-displayphoto-shrink_200_200/0/1615917792335?e=1621468800&v=beta&t=fzOHlgMIbp-OtFrZthFL0XSi43pVog3e99ACq-6Ng7A" alt="Savitha" width="300" height="300">
        <h2>Savitha Kulaolinathan</h2>
        <div class= "info">
            <a href="https://github.com/savitha-kulaolinathan"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/savitha-kulaolinathan/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>    
    
    <div class="profile-container">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQG0CCBWXUZvhg/profile-displayphoto-shrink_100_100/0/1612843607792?e=1620864000&v=beta&t=VUSU5NjWLs5yBZM6NbL75QyHTQtF4v2LOlyAvrhSTbk" alt="Shannon" width="300" height="300">
        <h2>Shannon Martin</h2>
        <div class= "info">
            <a href="https://github.com/shanno330"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/shannon-m-a1563748/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>

    <div class="profile-container">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFJMJLSorwlaw/profile-displayphoto-shrink_200_200/0/1615139039134?e=1620864000&v=beta&t=6im57LVdH9BPDUDI8i0MAUeNbiDaCmqdL9zxwFbrzhk" alt="Chris" width="300" height="300">
        <h2>Chris Morton</h2>
        <div class= "info">
            <a href="https://github.com/camorton"><i class="fab fa-github"></i></a>
            <a href="http://linkedin.com/in/christine-morton-30907544"><i class="fab fa-linkedin"></i></a>
        </div>    
    </div>
 
</div>
</body>

