<div class="starchart-container">
  <header>
    <app-header></app-header>
  </header>

  <div class="background">
    <h1>Explore Star Charts</h1>
    <div class="chart-containers">
      <div class="chart">
        <form>
          <label for="city">Earthly Location:</label>
          <input
            type="text"
            id="city"
            name="city"
            placeholder="Enter Zipcode"
            class="text"
            required
            [(ngModel)]="filterCityZipcode"
          />

          <label for="constellation">Choose Your Constellation</label>
          <select
            id="constellation"
            name="constellation"
            class="cons"
            [(ngModel)]="filtercons"
          >
            <option
              *ngFor="let one of constellations; let i = index"
              [ngValue]="one.id"
            >
              {{ one.name }}
            </option>
          </select>
          <button class="button" (click)="searchCons()" (click)="imageLoadingConst()">
            View Constellation
          </button>
        </form>
        <div class="image-container">
          <div class="loading" *ngIf="loadingConst">Loading...</div>
          <img (load)="imageLoadingConst()" class="image" *ngIf="starConst" [src]="starConst" />
        </div>
      </div>
      <div class="area">
        <form>
          <label for="title">Earthly Location:</label>
          <input
            type="text"
            id="title"
            placeholder="Enter Zipcode"
            name="title"
            [(ngModel)]="filterCity"
          />
          <button (click)="searchArea()" (click)="imageLoadingArea()">View Your Sky</button>
          <div class="loading" *ngIf="loadingArea">Loading...</div>
          <div class="image-container">
            <img (load)="imageLoadingArea()" class="image" *ngIf="starArea" [src]="starArea" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
